<h1>Inventory#index</h1>
<p>Find me in app/views/inventory/index.html.erb</p>
<ul>
  <% if @inventories.nil? %>
    <p>Inventory is empty</p>
  <% else %>
    <% @inventories.each do |inventory| %>
      <li>
        <a href="/inventories/<%= inventory.id %>">
          <%= inventory.user_id %>
          <%= inventory.item_id %>
        </a>
      </li>
    <% end %>
  <% end %>

</ul>
<%= link_to "Back", market_path,
            method: :get %>