<div class="description">
  <div class="@inventory_id">
    <h1><%= @inventory.id %></h1>
  </div>
  <div class="user_id">
    <h3>user_id</h3>
    <h3><%= @inventory.user_id %></h3>
  </div>
  <div class="item_id">
    <h3>item_id</h3>
    <h3><%= @inventory.item_id %></h3>
  </div>
</div>
<%= link_to "Back", market_path,
            method: :get %>
