<h1>Hello, Rails!</h1>
<h2>Articles#index</h2>
<h3>Test2 project</h3>
<p>Find me in app/views/articles/index.html.erb</p>
<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">
        <%= article.title %>
      </a>
    </li>
  <% end %>
</ul>
